<div class="product-list">
  <h1 class="product-list__title">Welcome to our webshop!</h1>

  <section class="product-list__products">
    <div *ngFor="let item of filteredProductList trackBy:trackProductList">
      <app-product-item [name]="item.name" [img]="item.img" [price]="item.price" [id]="item.id"></app-product-item>
    </div>
    <a *ngIf="username != ''" [routerLink]="['/add-product']" class="product-list__add">
      <h2 class="product-list__add__title">Add product</h2>
    </a>
  </section>
</div>
